alembic==1.18.3
bcrypt==4.2.0
dotenv==0.9.9
eth-account==0.13.4
fastapi==0.115.0
greenlet==3.3.1
PyJWT>=2.8.0
pydantic==2.12.5
python-dotenv==1.2.1

# RAG and document processing
openai
python-multipart
tiktoken
PyYAML
cryptography
supabase
uvicorn
pydantic[email]
PyPDF2
pymupdf